/** @section Animation */

// Animation 1
.animation-1 {
	position: relative;
}

.animation-1-inner {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 50%;
	display: flex;
	justify-content: space-between;
	pointer-events: none;
}

.animation-1-item {
	position: relative;
	flex: 1 0 auto;
	img {
		position: absolute;
		animation-name: animation-1;
		animation-duration: 2s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		opacity: 0;
	}
	&:nth-child(1) {
		img {
			animation-delay: 1s;
		}
	}

	&:nth-child(2) {
		img {
			animation-delay: 1.5s;
		}
	}

	&:nth-child(3) {
		img {
			animation-delay: 0.5s;
		}
	}

	&:nth-child(4) {
		img {
			animation-delay: 1.9s;
		}
	}
}

.animation-1-1 {
	.animation-1-inner {
		padding-left: 50%;
	}

	.animation-1-item {
		&:nth-child(5) {
			img {
				animation-delay: 2.9s;
			}
		}
	}
}

@keyframes animation-1 {
	0%{
		bottom: 0;
		right: 50px;
		opacity: 1;
	}
	20%{
		right: 40px;
	}
	40%{
		right: 60px;
	}

	50%{
		right: 50px;
	}
	60%{
		right: 40px;
	}
	70%{
		right: 50px;
	}
	80%{
		right: 45px;
	}
	90%{
		right: 50px;
	}
	100%{
		right: 50px;
		bottom: 100%;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
	}
}

// Animation 2
.animation-2 {
	position: relative;
}

.animation-2-inner {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
}

.animation-2-item {
	position: absolute;
	width: 3%;
	animation: animation-2 2s linear infinite;

	&:nth-child( 1 ) {
		bottom: 74%;
		left: 10%;
		width: 4%;
		animation-delay: .8s;
	}

	&:nth-child( 2 ) {
		bottom: 34%;
		left: 10%;
		animation-delay: .2s;
	}

	&:nth-child( 3 ) {
		bottom: 44%;
		left: 14%;
		animation-delay: 1.2s;
	}

	&:nth-child( 4 ) {
		bottom: 21%;
		left: 19%;
		width: 4%;
		animation-delay: .5s;
	}

	&:nth-child( 5 ) {
		bottom: 22%;
		left: 67%;
		animation-delay: 1.5s;
	}

	&:nth-child( 6 ) {
		bottom: 39%;
		left: 77%;
		animation-delay: .6s;
	}

	&:nth-child( 7 ) {
		bottom: 40%;
		left: 85%;
		width: 4%;
		animation-delay: 1.8s;
	}

	&:nth-child( 8 ) {
		bottom: 62%;
		left: 88%;
		animation-delay: .2s;
	}
}

@keyframes animation-2 {
	0%{
		transform: translate(0, 0vh);
		opacity: 1;
	}
	20%{
		transform: translate(-10px, -8vh);
	}
	40%{
		transform: translate(10px, -16vh);
	}
	60%{
		transform: translate(0, -24vh);
	}
	80%{
		transform: translate(-10px, -32vh);
	}
	100%{
		transform: translate(0, -40vh);
		opacity: 0;
	}
}