/** @section Blurbs */
.blurb-classic {
	max-width: 370px;
	margin-left: auto;
	margin-right: auto;
}

.blurb-classic-icon {
	display: inline-flex;
	width: 150px * $xs-multiplier;
	height: 150px * $xs-multiplier;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: $white;
	background-color: $primary;
	border-radius: 50%;
}

* + .blurb-classic-title { margin-top: 30px * $xs-multiplier }
* + .blurb-classic-text { margin-top: 18px * $xs-multiplier }

@include media-breakpoint-up( lg ) {
	.blurb-classic-icon {
		width: 150px * $lg-multiplier;
		height: 150px * $lg-multiplier;
	}

	* + .blurb-classic-title { margin-top: 30px * $lg-multiplier }
	* + .blurb-classic-text { margin-top: 18px * $lg-multiplier }
}

@include media-breakpoint-up( xxl ) {
	.blurb-classic-icon {
		width: 150px;
		height: 150px;
		font-size: 36px;
	}

	* + .blurb-classic-title { margin-top: 30px }
	* + .blurb-classic-text { margin-top: 18px }
}