/** @section Buttons */

// Button General Styles

.btn {
	position: relative;
	overflow: hidden;
	display: inline-block;
	@include btn-size($input-btn-padding-y, $input-btn-padding-x, $input-btn-font-size, $input-btn-line-height);
	border: 1px solid;
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	letter-spacing: $btn-letter-spacing;
	border-radius: $btn-border-radius;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	transition: 250ms all ease-in-out;
	text-transform: uppercase;
}

.btn-block {
	display: block;
	width: 100%;
}

//
// Appearance style
// 

.btn-default {
	@include btn-variant($gray-300, $gray-700, $gray-700, $white, $primary, $primary);
}

.btn-primary {
	@include btn-variant($white, $primary, $primary, $white, $secondary, $secondary);
}

.btn-primary-outline {
	@include btn-variant($primary, transparent, $primary, $secondary, transparent, $secondary);
}

.btn-light {
	@include btn-variant($primary, $white, $white, $white, $secondary, $secondary);
	border-radius: 5px;
}

.btn-style-1 {
	@include btn-variant($black, $gray-100, rgba($gray-300, .5), $white, $primary, $primary);
}

// Outline
.btn-default-outline {
	@include btn-variant($primary, transparent, $gray-200, $white, $primary, $primary);
}

.btn-gray-outline {
	@include btn-variant($primary, $gray-100, $gray-200, $white, $primary, $primary);
}

.btn-gray-300-outline {
	@include btn-variant($gray-300, transparent, $gray-300, $white, $primary, $primary);
}


//
// Button Sizes
// 

.btn-sm {
	min-width: 190px;
	min-height: 48px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@include btn-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $input-btn-font-size-sm, $input-btn-line-height-sm);
}

.btn-lg {
	@include btn-size($input-btn-padding-y-lg, $input-btn-padding-x-lg, $input-btn-font-size, $input-btn-line-height-lg);
	
	@include media-breakpoint-up(md) {
		min-width: 160px; 
	}
}

.btn-lg-narrow {
	@include btn-size(15px, 15px, $input-btn-font-size, $input-btn-line-height-lg);

	@include media-breakpoint-up(md) {
		min-width: 124px;
	}
}

.btn-md{
	min-width: 216px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 55px;
	padding: 0 10px;
	.ie-11 &,.ie-10 &,.edge &{
		height: 55px;
	}
}
.btn-xl{
	min-width: 240px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	padding: 0 10px;
}


//
// Button Icon styles
//
.btn {
	&.btn-icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		vertical-align: middle;
		line-height: 1.3;

		.icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			color: inherit;
			font-size: 1.55em;
			line-height: 1em;
		}

		&-left {
			.icon {
				padding-right: 8px;
			}
		}

		&-right {
			flex-direction: row-reverse;
			.icon {
				padding-left: 8px;
			}
		}

		&.btn-link {
			.icon {
				top: 5px;
				font-size: 1em;
			}
		}
	}
}



.search-form{
	.form-button{
		button{
			max-width: 238px;
			width: 100%;
			min-height: 55px;
			display: flex;
			align-items: center;
		}
	}
}

