/** @section Thumbnails */

// 
// Table of Contents
// 
// Figure Light
// Thumbnail 1
// Thumbnail Light
//

//
// Figure Light
//
.figure-light figcaption {
	padding-top: 10px;
	color: $gray-400;
}

// Figure 1
.figure-1 {
	@include media-breakpoint-up(xl) {
    position: relative;
    left: -20px;
		margin-left: -30px;
	}
}

.thumbnail-1 {
	position: relative;
	display: flex;
	width: 100%;
	min-height: 300px;
	background: $gray-100;
	
	&::after {
		content: '';
		display: block;
		width: 100%;
		padding-bottom: (9 / 16) * 100%;
		opacity: 0;
		visibility: hidden;
	}
	
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(rgba(196, 196, 196, 0) 0%, $black 100%);
		opacity: .7;
	}
	
	&.video-playing {
		.thumbnail-1-play .icon {
			&::before {
				opacity: 0;
				visibility: hidden;
			}
			
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.thumbnail-1::after,
.thumbnail-1-inner {
	width: 100%;
	flex-shrink: 0;
}

.thumbnail-1-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

.thumbnail-1-play {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75px;
	height: 75px;
	line-height: 75px;
	border-radius: 50%;
	border: 5px solid rgba($white, .3);

	.icon {
		position: relative;
		font-size: 28px;
		line-height: inherit;
		color: $white;
		
		&::before,
		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			font-family: 'Material Design Icons';
			transition: .22s;
		}
		
		&::before {
			content: '\f4f9';
		}
		
		&::after {
			content: '\f4d3';
			opacity: 0;
			visibility: hidden;
		}
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		border-radius: 50%;
		pointer-events: none;
		margin-right: -1px;
		margin-bottom: -1px;
	}

	&::before {
		top: -20%;
		left: -20%;
		width: 140%;
		height: 140%;
		border: 3px solid rgba($white, .3);
		transition: .5s;
	}

	&::after {
		top: -30%;
		left: -30%;
		width: 160%;
		height: 160%;
		border: 2px solid rgba($white, .3);
		transition: .7s;
	}
}

@include media-breakpoint-up(lg) {
	.thumbnail-1-play {
		width: 126px;
		height: 126px;
		line-height: 126px;

		.icon {
			font-size: 36px;
		}

		&::before {
			top: -12%;
			left: -12%;
			width: 124%;
			height: 124%;
		}

		&::after {
			top: -20%;
			left: -20%;
			width: 140%;
			height: 140%;
		}
	} 
	
	@include media-breakpoint-up(lg) {
	  .thumbnail-1-play {
			&:hover {
				&::before,
				&::after {
					opacity: 0;
				}

				&::before {
					transform: scale(.9);
				}

				&::after {
					transform: scale(.8);
				}
			}
		} 
	}
}

.thumbnail-2{
	position: relative;
	display: block;
	overflow: hidden;

	img { width: 100%; }

	.caption {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		background: rgba($primary, .3);
		opacity: 1;

		text-align: center;
		transition: .3s;
		pointer-events: none;

		.icon {
			$icon-size: 44px;
			font-size: $icon-size;
			min-width: $icon-size;
			height: $icon-size;
			line-height: $icon-size;
			transition: .3s;
			color: $white;
		}

		.title {
			margin-top: 15px;
			padding: 0 15px;
			font-weight: 700;
			color: $secondary;
			transition: .3s;
		}
	}

	.isotope &{
		will-change: transform;
		margin-left: -0.6px;
	}

	.desktop & {

		.caption {
			opacity: 0;
			transform: translateY(30px);

			.icon { transform: translateY(30px); }
			.title { transform: translateY(30px); }
		}

		&:hover {
			.caption {
				opacity: 1;
				transition-delay: .05s;

				.icon { transition-delay: .1s; }
				.title { transition-delay: .13s; }
			}

			.caption, .icon, .title {
				transform: translateY(0);
				transition-delay: 0s;
			}
		}
	}
}

//
// Thumbnail Light
//
.thumbnail-light {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: $black;

	&::after {
		content: '';
		display: block;
		padding-bottom: (355 / 359) * 100%;
		opacity: 0;
		visibility: hidden;
	}

	&::before {
		position: relative;
		z-index: 1;
		content: '\ec22';
		font-family: 'Linearicons';
		font-size: 20px;
		color: $white;
	}
}

.thumbnail-light-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;
	max-width: none;
	opacity: .8;


	@supports (object-fit: cover) {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transform: none;
		object-fit: cover;
		object-position: center center;
	}
}

@include media-breakpoint-up(sm) {
	.thumbnail-light {
		&::before {
			font-size: 30px;
		}
	}
}

@include media-breakpoint-up(lg) {
	html:not(.tablet):not(.mobile) {
		.thumbnail-light {
			&::before {
				opacity: 0;
				visibility: hidden;
				transition: .44s;
			}

			&:hover {
				&::before {
					opacity: 1;
					visibility: visible;
				}

				.thumbnail-light-image {
					opacity: .8;
				}
			}
		}

		.thumbnail-light-image {
			opacity: 1;
			transition: .33s;
		}
	}
}

//
// Thumbnail card
//
.thumbnail-card {
	display: inline-block;
	position: relative;

	&:hover {
		.thumbnail-card-icon {
			opacity: 1;

			&::before {
				transform: scale( 1 );
			}
		}
	}
}

.thumbnail-card-icon {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
	color: #e50917;
	background: rgba( $primary, .3 );
	opacity: 0;
	transition: .25s;

	&::before {
		transform: scale( .2 );
		transition: .25s cubic-bezier( 0.42, 0, 0.76, 1.67 );
	}
}

@include media-breakpoint-up( xxl ) {
	.thumbnail-card-icon {
		font-size: 200px;
	}
}