.loginpage{
    position: absolute;
    margin:10px;
    background-color: rgba(171, 138, 172, 0.1);
    max-width: 40ch;
    padding: 3rem;
    top:50px;
    width:700px;
    height:600px;
    /* left:150px */

}

#logo-container{
    position: fixed;
    left: 0px
}

#logo{
    max-width: 6em;
}

.logotext{
    font-size: 3em; 
    font-family:Arial, Helvetica, sans-serif;
}

.textColor{
    color:white;
}
body{
    display: flex;
    justify-content: center;
}

.bg-img {
    /* position: absolute; */
    top: 0px;
    object-fit: contain;
    background-size: 50vh;
    border-radius: 10px;
}

.containercontroller{

    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-items: center;
    /* height: 50vh; */
}
/* .container2{
    display: flex;
    justify-content: center;
    align-items: center;
} */

header{
    height: 5em;
    ;
}
main {
    margin-top: 5em;
    display: flex;
}

#btnTextColor{
   background-color: aliceblue;
   color: black;
}

.form-label{
    color: aliceblue;
    -webkit-text-fill-color: rgba(211, 175, 219, 0.8);
}

.form-control{
    color:rgb(209, 200, 101)
}

.form-control:focus{
    color:aliceblue
}