.loginpage{
    margin:10px;
    background-color: rgba(26, 33, 92, 0.5);
    max-width: 40ch;
    padding: 3rem;

    


}

#logo{
    max-width: 6em;
}

.logotext{
    font-size: 3em; 
    font-family:Arial, Helvetica, sans-serif;
}

/* body{
   
}   */

.container{
    background-position: contain;
    
    background-size: cover;
    display: flex;
    justify-content: center;
}

.textColor{
    color:white;
}

.containercontroller{
    background-image: url(/images/loginpage.jpg);
    display: flex;
    justify-content: center;
    background-repeat:no-repeat;
    /* max-width: 100%; */
    height: auto;
}


