.loginpage{
    margig;
    background-color: rgba(30, 49, 99, 0.5);
    max-width: 40ch;
    padding: 3rem;

}

#logo{
    max-width: 6em;
}

.logotext{
    font-size: 3em; ;
    font-family:Arial, Helvetica, sans-serif;
}

/* body{
   
}   */

.container{
    background-position: center;
    background-image:url(/images/wallpaper3.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
}


