<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>CodePen - Daily UI #013 | Direct Messaging</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'><link rel="stylesheet" href="/chat/css/style.css">
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="center"> 
  <!-- main part -->
  <div class="contacts">
    <i class="fas fa-bars fa-2x"></i>
    <h2>
      Contacts
    </h2>
    <div class="contact">
      <div class="pic rogers"></div>
      <div class="badge">
        14
      </div>
      <div class="name">
        Steve Rogers
      </div>
      <div class="message">
        That is America's ass 🇺🇸🍑
      </div>
    </div>
    <div class="contact">
      <div class="pic stark"></div>
      <div class="name">
        Tony Stark
      </div>
      <div class="message">
        Uh, he's from space, he came here to steal a necklace from a wizard.
      </div>
    </div>
    <div class="contact">
      <div class="pic banner"></div>
      <div class="badge">
        1
      </div>
      <div class="name">
        Bruce Banner
      </div>
      <div class="message">
        There's an Ant-Man *and* a Spider-Man?
      </div>
    </div>
    <div class="contact">
      <div class="pic thor"></div>
      <div class="name">
        Thor Odinson
      </div>
      <div class="badge">
        3
      </div>
      <div class="message">
        I like this one
      </div>
    </div>
    <div class="contact">
      <div class="pic danvers"></div>
      <div class="badge">
        2
      </div>
      <div class="name">
        Carol Danvers
      </div>
      <div class="message">
        Hey Peter Parker, you got something for me?
      </div>
    </div>
  </div>
  <!-- the header part should be a div -->
  <div class="chat">
    <!-- //header -->
    <div class="contact bar">
      <div class="pic stark"></div>
      <div class="name" id="currentContact" th:text="${currentContact}">
      </div>
      <div class="seen">
        Today at 12:56
      </div>
    </div>
    <!-- header -->
    <div class="messages" id="chat">
      <div class="time">
        Today at 11:41
      </div>

      <div class="message self">
        DEMO1
      </div>

      <div class="message sender">
        DEMO2
      </div>

      <div th:each="chatMsg:${chatMsgList}">

        <div th:if="${chatMsg.fromUser} eq ${currentUser.username}">
          <div class="message self" th:text="${chatMsg.msg}">
          </div>
        </div>

        <div th:unless="${chatMsg.fromUser} eq ${currentUser.username}">
          <div class="message sender" th:text="${chatMsg.msg}">
          </div>
        </div>

        <div id="message"></div>
      </div>



      <div class="message sender">
        <div class="typing typing-1"></div>
        <div class="typing typing-2"></div>
        <div class="typing typing-3"></div>
      </div>
    </div>
    <div class="input">
      <i class="fas fa-camera"></i><i class="far fa-laugh-beam"></i>

      <label>
        <input placeholder="Type your message here!" type="text" id="text" />
      </label>

      <button class="fas fa-paper-plane" onclick="send()"></button>

    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script><script  src="/chat/js/script.js"></script>

</body>

<script type="text/javascript">

  var websocket = null;

  //判断当前浏览器是否支持WebSocket
  if('WebSocket' in window){
    websocket = new WebSocket("ws://47.92.137.0:9999/ws");
  }
  else{
    alert('Not support websocket')
  }

  //连接发生错误的回调方法
  websocket.onerror = function(){
    setMessageInnerHTML("error");
  };

  //连接成功建立的回调方法
  websocket.onopen = function(event){
    setMessageInnerHTML("open");
  }

  //接收到消息的回调方法
  websocket.onmessage = function(event){
    receiveMsg(event.data);
  }

  //连接关闭的回调方法
  websocket.onclose = function(){
    setMessageInnerHTML("close");
  }

  //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
  window.onbeforeunload = function(){
    websocket.close();
  }

  //将消息显示在网页上
  function setMessageInnerHTML(innerHTML){
    document.getElementById('message').innerHTML += innerHTML + '<br/>';
  }


  function receiveMsg(msg){

    var senderNode = document.createElement("div");
    senderNode.classList.add("message");
    senderNode.classList.add("sender");

    senderNode.textContent = msg;

    document.getElementById('chat').appendChild(senderNode)


    // document.getElementById('message').innerHTML += innerHTML + '<br/>';
  }


  //关闭连接
  function closeWebSocket(){
    websocket.close();
  }

  //发送消息
  function send(){


    var selfNode = document.createElement("div");
    selfNode.classList.add("message");
    selfNode.classList.add("self");
    selfNode.textContent = document.getElementById('text').value;
    document.getElementById('chat').appendChild(selfNode)


    let currentUser = document.getElementById("currentContact");
    console.log(currentUser)
    var message = currentUser.textContent + ":" + document.getElementById('text').value;
    websocket.send(message);


    message.textContent = "";
    document.querySelector('#text').value="";
  }


</script>
</html>
