<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- CSS only -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css"
    />
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/datingweb.css"/>

    <title>dating web</title>
</head>
<body>
<div class="container bgcolor">
    <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
    >
        <ul
                class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"
                id="headbar"
                th:switch="${currentUser.rolename}"
        >
            <div>
                <img src="logo.png" alt="logo" srcset="" id="logo"/>Nohorny
            </div>

          <li><p th:text="'Welcome ! ' + ${currentUser.username}"></p></li>

          <li><a href="" class="container-item">Home</a></li>

            <li>
                <a href="/profile" class="container-item">Profile</a>
            </li>

            <li th:switch="${currentUser.rolename}">
                <div th:case="ROLE_GUEST">
                    <a  href="/login" class="container-item">Login</a>
                </div>

                <div th:case="ROLE_USER" >
                    <a href="/logout" class="container-item">Logout</a>
                </div>

            </li>

        </ul>
    </header>
</div>
<div class="container" id="background-container">
    <div class="row">
        <div class="col">
            <div class="containercontroller">
                <form class="form-container" action="/match" method="POST">
                    <div class="gender-select">
                        <label for="gender">I am a:</label>
                        <select
                                name="gender"
                                id="gender"
                                class="form-control"
                                data-role="select"
                        >
                            <option value="M">Man</option>
                            <option value="F">Women</option>
                        </select>
                    </div>
                    <div class="target-select">
                        <label for="sexual">Looking for:</label>
                        <select
                                name="sexual"
                                id="sexual"
                                class="form-control"
                                data-role="select"
                        >
                            <option value="M">Man</option>
                            <option value="F">Women</option>
                        </select>
                    </div>
                    <div class="Age-select">
                        <label for="agebottom">Age:</label>

                        <div class="AgeSelection">
                            <select
                                    name="agebottom"
                                    id="agebottom"
                                    class="form-control"
                                    data-role="select"
                            >
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                            </select>
                            -
                            <label for="agetop">Age:</label>

                            <select
                                    name="agetop"
                                    id="agetop"
                                    class="form-control"
                                    data-role="select"
                            >
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                            </select>
                        </div>
                    </div>
                    <div class="district-select">
                        <label for="districtid">district:</label>
                        <select
                                name="districtid"
                                id="districtid"
                                class="form-control"
                                data-role="select"
                        >
                            <option value="1">HongKong Island</option>
                            <option value="2">Kowloon</option>
                            <option value="3">New Territories</option>
                        </select>
                    </div>
                    <button class="findpartnerbtn" type="submit">
                        Find your partner
                    </button>
                </form>
            </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <!-- <select data-role="select"></select> -->
    </div>
</div>
<script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
<!-- <input type="submit" value="Submit"> -->
</body>
</html>
